
/* .filter_category {
    background-color: gray;
  } */
  
  .filter_category .x {
    /* background-color: white; */
    padding: 0 35px;
    /* font-size: 13px; */
  }

  .filter_category span{
    padding: 4px 30px;
    /* font-size: 14px; */
  }

.category_p_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 3600px) {
    .filter_head{
        font-size: 30px;
    }
    .filter_category span{
        font-size: 26px;
    }
    .filter_category .x{
        font-size: 23px;
    }
    .category_p_card img{
        width: 280px;
        height: 280px;
    }
    .category_p_card p{
        font-size: 26px;
    }

    .p_category_filter_line{
        font-size: 26px;
        font-weight: 300;
    }
    
}
@media screen and (max-width: 2500px) {
    .filter_head{
        font-size: 23px;
    }
    .filter_category span{
        font-size: 20px;
    }
    .filter_category .x{
        font-size: 18px;
    }
    .category_p_card img{
        width: 200px;
        height: 200px;
    }
    .category_p_card p{
        font-size: 20px;
    }

    .p_category_filter_line{
        font-size: 20px;
        font-weight: 300;
    }
}
@media screen and (max-width: 1900px) {
    .filter_head{
        font-size: 16px;
    }
    .filter_category span{
        font-size: 14px;
    }
    .filter_category .x{
        font-size: 13px;
    }
    .category_p_card img{
        width: 150px;
        height: 150px;
    }
    .category_p_card p{
        font-size: 14px;
    }

    .p_category_filter_line{
        font-size: 14px;
        font-weight: 300;
    }
}














  /* -----PRODUCT MAIN CARD----- */
  .card_y .offer span{
    background-color: rgb(221, 0, 0);
  }

  .card_y .product_like{
   cursor: pointer;
}


  @media screen and (max-width: 3600px) {
    .card_y{
      width: 380px;
      font-size: 30px;
    }

    .card_y .offer{
      font-size: 18px;
    }

    .card_y .product_image{
      width: 380px;
      height: 380px;
    }

    .card_y .product_name{
      font-size: 30px;
    } 
  }

  @media screen and (max-width: 2500px) {
    .card_y{
      width: 285px;
      font-size: 20px;
    }

    .card_y .offer{
      font-size: 16px;
    }

    .card_y .product_image{
      width: 285px;
      height: 285px;
    }

    .card_y .product_name{
      font-size: 30px;
    }
  }

  @media screen and (max-width: 1900px) {
      .card_y{
        width: 200px;
        font-size: 18px;
      }

      .card_y .offer{
        font-size: 14px;
      }

      .card_y .product_image{
        width: 200px;
        height: 200px;
      }

      .card_y .product_name{
        font-size: 22px;
      }
  }









