@font-face {
    font-family: "DM";
    src: url("../fonts/DMSerifDisplay-Regular.ttf")format("truetype");
    font-weight: normal;
    font-style: normal;
  }



  @media screen and (max-width: 3600px) {
    .header_x, .nav_x, .subnav_x, .sections_wrapper, footer{
      padding: 0 210px;
    }
  }

  @media screen and (max-width: 2500px) {
    .header_x, .nav_x, .subnav_x, .sections_wrapper, footer{
      padding: 0 161px;
    }
  }

  @media screen and (max-width: 1900px) {
    .header_x, .nav_x, .subnav_x, .sections_wrapper, footer{
      padding: 0 113px;
    }
  }



  .top_banner_wrapper{
    /* height: 1000px; */
    background-image: url("./Images/banner.jpg");



    /* background-image: url("img_nature.jpg"); */



@media screen and (max-width: 3600px) {
    min-height: 1308px;
  }

  @media screen and (max-width: 2500px) {
    min-height: 980px;
  }

  @media screen and (max-width: 1900px) {
    min-height : 698px;
  }

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;

/* Needed to position the navbar */
position: relative;
}



/* banner heading */

@media screen and (max-width: 3600px) {
    .banner_heading{
        margin-top: 300px;
        padding: 0 210px;
    }
    .banner_heading h1{
        font-size: 145px;
        color: white;
        font-family: "DM", sans-serif;
    }
    .banner_heading h3{
        font-size: 62px;
        color: #ffae3e;
    }
  }

  @media screen and (max-width: 2500px) {
    .banner_heading{
        margin-top: 200px;
        padding: 0 161px;
    }
    .banner_heading h1{
        font-size: 109px;
        color: white;
        font-family: "DM", sans-serif;
    }
    .banner_heading h3{
        font-size: 46px;
        color: #ffae3e;
    }
  }

  @media screen and (max-width: 1900px) {
    .banner_heading{
        margin-top: 150px;
        padding: 0 114px;
    }
    .banner_heading h1{
        font-size: 77px;
        color: white;
        font-family: "DM", sans-serif;
    }
    .banner_heading h3{
        font-size: 33px;
        color: #ffae3e;
    }
  }





/* trending products */

@media screen and (max-width: 3600px) {
    .trending_product{
        position: relative;
        height: 650px;
        background-color: #FF9803;
        padding: 0 210px;
    }
    .trending_product_text{
        position: absolute;
        bottom: 10px;

    }
    .trending_product_text h1{
        font-size: 145px;
        font-family: 'DM', sans-serif;
        color: white;
    }
    .trending_product_text p{
        font-size: 37px;
        font-weight: 200;
        width: 60%;
    }
    .trending_image{
        position: absolute; 
        z-index: 2; 
        bottom: -50px; 
        right: 210px;

    }
    .trending_image img{
        width: 700px;
    }
  }

  @media screen and (max-width: 2500px) {
    .trending_product{
        position: relative;
        height: 488px;
        background-color: #FF9803;
        padding: 0 161px;
    }
    .trending_product_text{
        position: absolute;
        bottom: 10px;

    }
    .trending_product_text h1{
        font-size: 109px;
        font-family: 'DM', sans-serif;
        color: white;
    }
    .trending_product_text p{
        font-size: 28px;
        font-weight: 200;
        width: 60%;
    }
    .trending_image{
        position: absolute; 
        z-index: 2; 
        bottom: -40px; 
        right: 114px;

    }
    .trending_image img{
        width: 500px;
    }
  }

  @media screen and (max-width: 1900px) {
    .trending_product{
        position: relative;
        height: 347px;
        background-color: #FF9803;
        padding: 0 114px;
    }
    .trending_product_text{
        position: absolute;
        bottom: 10px;

    }
    .trending_product_text h1{
        font-size: 77px;
        font-family: 'DM', sans-serif;
        color: white;
    }
    .trending_product_text p{
        font-size: 20px;
        font-weight: 200;
        width: 60%;
    }
    .trending_image{
        position: absolute; 
        z-index: 2; 
        bottom: -35px; 
        right: 114px;

    }
    .trending_image img{
        width: 400px;
    }
  }



/* categories in cicle */

  @media screen and (max-width: 3600px) {
    .categories{
        padding: 100px 210px;
        background-color: #FF9803;
        margin-top: 100px;
        height: 1108px;
        gap: 90px;
    }
    .categories img{
        width: 251px;
        height: 251px;
        border-radius: 50%;
    }
    .categories span{
        font-size: 33px;
        font-weight: 300;
    }

  }

  @media screen and (max-width: 2500px) {
    .categories{
        padding: 90px 161px;
        background-color: #FF9803;
        margin-top: 100px;
        height: 830px;
        gap: 70px;
    }
    .categories img{
        width: 188px;
        height: 188px;
        border-radius: 50%;
    }
    .categories span{
        font-size: 25px;
        font-weight: 300;
    }
  }

  @media screen and (max-width: 1900px) {
    .categories{
        padding: 65px 114px;
        background-color: #FF9803;
        margin-top: 100px;
        height: 590px;
        gap: 55px;
    }
    .categories img{
        width: 134px;
        height: 134px;
        border-radius: 50%;
    }
    .categories span{
        font-size: 17px;
        font-weight: 300;
    }
  }



  /* categories images */
  @media screen and (max-width : 3600px) {
    .category_image_format{
        padding: 0 210px;
        margin: 180px 0;
    }
    .category-item {
        position: relative;
    }

    .category-item span {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'DM', sans-serif;
        padding: 10px;
        font-size: 74px;

        color: white;
        font-weight: bold;
    }
    .category-item img{
        width: 933px;
        height: 400px;
    }
  }
  @media screen and (max-width : 2500px) {
    .category_image_format{
        padding: 0 161px;
        margin: 150px 0;
    }
    .category-item {
        position: relative;
    }

    .category-item span {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'DM', sans-serif;
        padding: 10px;
        font-size: 56px;

        color: white;
        font-weight: bold;
    }
    .category-item img{
        width: 700px;
        height: 300px;
    }
  }
  @media screen and (max-width : 1900px) {
    .category_image_format{
        padding: 0 114px;    
        margin: 90px 0;
    }
    .category-item {
        position: relative;
    }

    .category-item span {

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'DM', sans-serif;
        padding: 10px;
        font-size: 39px;

        color: white;
        font-weight: bold;
    }
    .category-item img{
        width: 498px;
        height: 213px;
    }
    
  }









  @media screen and (max-width : 3600px) {
    .new_arrival{
        margin: 120px 0;

    }
    .new_arrival_image{
        position: relative;
    }
    .new_arrival_cards{
        position: absolute;
        top: 0;
        right: 250px;
        top: 50%;
        transform: translate(0, -50%);
        /* gap: 100px; */
    }
    .new_arrival_image img{
        width: 1227px;
        height: 1067px;
    }
    .view_all_button button{
        border-radius : 20px;
        background-color : orange;
        padding: 8px 80px;
        font-size: 35px;
        border: none;
        color: white;
        bottom: 50px;
        position: absolute;
        right: 250px;
    }
  }
  @media screen and (max-width : 2500px) {
    .new_arrival{
        margin: 120px 0;

    }
    .new_arrival_image{
        position: relative;
    }
    .new_arrival_cards{
        position: absolute;
        top: 0;
        right: 180px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .new_arrival_image img{
        width: 920px;
        height: 800px;
    }
    .view_all_button button{
        border-radius : 20px;
        background-color : orange;
        padding: 8px 40px;
        font-size: 24px;
        border: none;
        color: white;
        bottom: 40px;
        position: absolute;
        right: 180px;
    }
  }
  @media screen and (max-width : 1900px) {
    .new_arrival{
        margin: 80px 0;

    }
    .new_arrival_image{
        position: relative;
    }
    .new_arrival_cards{
        position: absolute;
        top: 0;
        right: 150px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .new_arrival_image img{
        width: 654px;
        height: 570px;
    }
    .view_all_button button{
        border-radius : 20px;
        background-color : orange;
        font-size: 18px;
        padding: 8px 40px;
        border: none;
        color: white;
        bottom: 20px;
        position: absolute;
        right: 150px;
    }
  }








