
/* .filter_category {
    background-color: gray;
  } */



  /* price select arrow code */
  select.form-control {
    appearance: none;
    -webkit-appearance: none;
    background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M7.4,10.6L12,15.2l4.6-4.6c0.4-0.4,1-0.4,1.4,0l0,0c0.4,0.4,0.4,1,0,1.4l-5,5c-0.4,0.4-1,0.4-1.4,0l-5-5C7,11.6,7,11,7.4,10.6z'/></svg>") no-repeat right center / 20px 20px;
    padding-right: 30px;
    font-size:14px;
  }

  option{
    font-size: 16px;

  }

  option:hover{
    background-color: #f18d00;
  }



  


  .form-check-input:checked {
    background-color: orange;
    border-color: orange;
  }

  .form-check-input:focus{
    box-shadow: none;
    outline: none;
  }




  
  .filter_category .x {
    /* background-color: white; */
    padding: 0 50px;
    /* font-size: 13px; */
  }

  .filter_category span{
    padding: 4px 50px;
    /* font-size: 14px; */
  }

  .filter_category .collaspe_icon{
    font-size: 35px;
  }

  /* .filter_category .collaspe_icon{
    font-size: 35px;
  } */

.category_p_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


@media screen and (max-width: 3600px) {
    .filter_head{
        font-size: 32px;
    }
    .filter_category .collaspe_icon{
      font-size: 35px;
    }
    .filter_category span{
        font-size: 26px;
    }
    .filter_category .x{
        font-size: 23px;
    }
    .category_p_card img{
        width: 280px;
        height: 280px;
    }
    .category_p_card p{
        font-size: 26px;
    }

    .p_category_filter_line{
        font-size: 26px;
        font-weight: 300;
    }

    .bottom_pagination{
      padding: 10px;
      margin-top: 70px;
      font-size: 40px;
      gap: 20px;
      font-weight: 300;
    }
    
}
@media screen and (max-width: 2500px) {
    .filter_head{
        font-size: 23px;
    }
    .filter_category .collaspe_icon{
      font-size: 30px;
    }
    .filter_category span{
        font-size: 20px;
    }
    .filter_category .x{
        font-size: 18px;
    }
    .category_p_card img{
        width: 200px;
        height: 200px;
    }
    .category_p_card p{
        font-size: 20px;
    }

    .p_category_filter_line{
        font-size: 20px;
        font-weight: 300;
    }
    .bottom_pagination{
      padding: 10px;
      margin-top: 40px;
      font-size: 28px;
      gap: 20px;
      font-weight: 300;
    }
}
@media screen and (max-width: 1900px) {
    .filter_head{
        font-size: 16px;
    }
    .filter_category .collaspe_icon{
      font-size: 24px;
    }
    .filter_category span{
        font-size: 14px;
    }
    .filter_category .x{
        font-size: 13px;
    }
    .category_p_card img{
        width: 150px;
        height: 150px;
    }
    .category_p_card p{
        font-size: 14px;
    }

    .p_category_filter_line{
        font-size: 14px;
        font-weight: 300;
    }
    .bottom_pagination{
      padding: 10px;
      margin-top: 30px;
      font-size: 22px;
      gap: 20px;
      font-weight: 300;
    }
}














  /* -----PRODUCT MAIN CARD----- */
  .card_y .offer span{
    background-color: rgb(221, 0, 0);
  }

  .card_y .product_like{
   cursor: pointer;
}

.card_y{
    padding: 0;
}


  @media screen and (max-width: 3600px) {
    .card_y{
      width: 380px;
      font-size: 30px;
    }

    .card_y .offer{
      font-size: 18px;
    }

    .card_y .product_image{
      width: 380px;
      height: 380px;
    }

    .card_y .product_name{
      font-size: 30px;
    } 
  }

  @media screen and (max-width: 2500px) {
    .card_y{
      width: 285px;
      font-size: 18px;
    }

    .card_y .offer{
      font-size: 16px;
    }

    .card_y .product_image{
      width: 285px;
      height: 285px;
    }

    .card_y .product_name{
      font-size: 24px;
    }
  }

  @media screen and (max-width: 1900px) {
      .card_y{
        width: 200px;
        font-size: 16px;
      }

      .card_y .offer{
        font-size: 14px;
      }

      .card_y .product_image{
        width: 200px;
        height: 200px;
      }

      .card_y .product_name{
        font-size: 18px;
      }
  }



  .card_y button:hover{
    background-color: #f18d00;
    color: white;
    border: 1px white solid;
}

.card_y button{
  border: 1px solid black; 
  padding: 3px 40px;
  background-color: white;
  transition: 0.2s;
}









